{
  "uaa": {
    "url": "https://sap-ap-ai-development-ggk3xov0.authentication.in30.hana.ondemand.com",
    "clientid": "sb-f7775325-9475-41f0-96e8-662592fdb6a1!b48605|dox-xsuaa-std-production!b15635",
    "clientsecret": "your-client-secret-here"
  },
  "url": "https://in30.doc.cloud.sap"
}